CONFIG_TARGET_ipq60xx=y
CONFIG_TARGET_ipq60xx_generic=y
CONFIG_TARGET_ipq60xx_generic_QSDK_Open=y
CONFIG_TARGET_BOARD="ipq60xx"
CONFIG_DEVEL=y
CONFIG_ATH_USER_REGD=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_GIT_MIRROR="https://source.codeaurora.org/quic/qsdk/"
CONFIG_IB_STANDALONE=y
CONFIG_IB=y
CONFIG_KERNEL_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_KERNEL_CC_STACKPROTECTOR_STRONG=y
CONFIG_KERNEL_CFS_BANDWIDTH=y
CONFIG_KERNEL_CGROUP_CPUACCT=y
CONFIG_KERNEL_CGROUP_SCHED=y
# CONFIG_KERNEL_CNSS2 is not set
CONFIG_KERNEL_CPUSETS=y
# CONFIG_KERNEL_CRASH_DUMP is not set
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
CONFIG_KERNEL_DEVMEM=y
CONFIG_KERNEL_DYNAMIC_DEBUG=y
CONFIG_KERNEL_FAIR_GROUP_SCHED=y
CONFIG_KERNEL_HWMON=y
CONFIG_KERNEL_MEMCG_KMEM=y
CONFIG_KERNEL_MEMCG=y
CONFIG_KERNEL_NAMESPACES=y
CONFIG_KERNEL_PERF_EVENTS=y
CONFIG_KERNEL_RESOURCE_COUNTERS=y
CONFIG_KERNEL_RT_GROUP_SCHED=y
# CONFIG_KERNEL_SWAP is not set
CONFIG_KERNEL_USER_NS=y
# CONFIG_LIBC_USE_UCLIBC is not set
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk/"
CONFIG_LXC_BUSYBOX_OPTIONS=y
CONFIG_LXC_KERNEL_OPTIONS=y
CONFIG_PACKAGE_lldpd=y
CONFIG_PACKAGE_lxc=y
CONFIG_PACKAGE_QCA_ATH_DEBUG=y
# CONFIG_PKG_CC_STACKPROTECTOR_NONE is not set
# CONFIG_PKG_CC_STACKPROTECTOR_REGULAR is not set
CONFIG_PKG_CC_STACKPROTECTOR_STRONG=y
CONFIG_PKG_FORTIFY_SOURCE_2=y
# CONFIG_PKG_FORTIFY_SOURCE_NONE is not set
CONFIG_PKG_RELRO_FULL=y
# CONFIG_shadow-all is not set
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_TARGZ is not set
CONFIG_TARGET_ROOTFS_UBIFS=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_WPA_MSG_MIN_PRIORITY=0
